In [45]:
# C:\Users\slast\miniconda3\python.exe eda.py

import os
from dotenv import load_dotenv
import boto3

# Wczytaj dane z pliku .env
load_dotenv()

SPACES_KEY = os.getenv("SPACES_KEY")
SPACES_SECRET = os.getenv("SPACES_SECRET")
SPACES_REGION = os.getenv("SPACES_REGION")
SPACES_NAME = os.getenv("SPACES_NAME")

# Utw√≥rz klienta S3 dla DigitalOcean Spaces
session = boto3.session.Session()
client = session.client(
    's3',
    region_name=SPACES_REGION,
    endpoint_url=f'https://{SPACES_REGION}.digitaloceanspaces.com',
    aws_access_key_id=SPACES_KEY,
    aws_secret_access_key=SPACES_SECRET
)

# Wy≈õwietl zawarto≈õƒá bucketa
response = client.list_objects_v2(Bucket=SPACES_NAME)

if 'Contents' in response:
    print(f"üì¶ Zawarto≈õƒá bucketa '{SPACES_NAME}':")
    for obj in response['Contents']:
        print(f"- {obj['Key']} ({obj['Size']} bajt√≥w)")
else:
    print("‚ùó Bucket jest pusty lub nie istnieje.")

üì¶ Zawarto≈õƒá bucketa 'maratonwr':
- data/ (15 bajt√≥w)
- data/raw/ (15 bajt√≥w)
- data/raw/halfmarathon_wroclaw_2023__final.csv (2008515 bajt√≥w)
- data/raw/halfmarathon_wroclaw_2024__final.csv (2651025 bajt√≥w)

In [46]:
from dotenv import load_dotenv
import os

# Wczytaj zmienne ≈õrodowiskowe z pliku .env
load_dotenv()

# Sprawd≈∫ czy klucze sƒÖ dostƒôpne
print("SPACES_KEY:", os.getenv("SPACES_KEY")[:6], "...")  # fragment klucza
print("SPACES_SECRET:", os.getenv("SPACES_SECRET")[:6], "...")

SPACES_KEY: DO00D4 ...
SPACES_SECRET: BNYP+k ...

In [47]:
# C:\Users\slast\miniconda3\python.exe eda.py

import os
from dotenv import load_dotenv
import boto3

# Wczytaj dane z pliku .env
load_dotenv()

SPACES_KEY = os.getenv("SPACES_KEY")
SPACES_SECRET = os.getenv("SPACES_SECRET")
SPACES_REGION = os.getenv("SPACES_REGION")
SPACES_NAME = os.getenv("SPACES_NAME")

# Utw√≥rz klienta S3 dla DigitalOcean Spaces
session = boto3.session.Session()
client = session.client(
    's3',
    region_name=SPACES_REGION,
    endpoint_url=f'https://{SPACES_REGION}.digitaloceanspaces.com',
    aws_access_key_id=SPACES_KEY,
    aws_secret_access_key=SPACES_SECRET
)

# Wy≈õwietl zawarto≈õƒá bucketa
response = client.list_objects_v2(Bucket=SPACES_NAME)

if 'Contents' in response:
    print(f"üì¶ Zawarto≈õƒá bucketa '{SPACES_NAME}':")
    for obj in response['Contents']:
        print(f"- {obj['Key']} ({obj['Size']} bajt√≥w)")
else:
    print("‚ùó Bucket jest pusty lub nie istnieje.")



from dotenv import load_dotenv
import os

# Wczytaj zmienne ≈õrodowiskowe z pliku .env
load_dotenv()

# Sprawd≈∫ czy klucze sƒÖ dostƒôpne
print("SPACES_KEY:", os.getenv("SPACES_KEY")[:6], "...")  # fragment klucza
print("SPACES_SECRET:", os.getenv("SPACES_SECRET")[:6], "...")

üì¶ Zawarto≈õƒá bucketa 'maratonwr':
- data/ (15 bajt√≥w)
- data/raw/ (15 bajt√≥w)
- data/raw/halfmarathon_wroclaw_2023__final.csv (2008515 bajt√≥w)
- data/raw/halfmarathon_wroclaw_2024__final.csv (2651025 bajt√≥w)
SPACES_KEY: DO00D4 ...
SPACES_SECRET: BNYP+k ...

In [48]:
from dotenv import load_dotenv
import os
import boto3
import pandas as pd
from io import StringIO

# 1Ô∏è‚É£ Wczytaj dane z .env
load_dotenv()

# 2Ô∏è‚É£ Utw√≥rz klienta boto3
session = boto3.session.Session()
client = session.client(
    's3',
    region_name=os.getenv('SPACES_REGION'),
    endpoint_url=f"https://{os.getenv('SPACES_REGION')}.digitaloceanspaces.com",
    aws_access_key_id=os.getenv('SPACES_KEY'),
    aws_secret_access_key=os.getenv('SPACES_SECRET')
)

# 3Ô∏è‚É£ Funkcja pomocnicza
def load_csv_from_space(bucket_name, file_key):
    obj = client.get_object(Bucket=bucket_name, Key=file_key)
    csv_data = obj['Body'].read().decode('utf-8')
    return pd.read_csv(StringIO(csv_data), sep=';')  # U≈ºyj ≈õrednika jako separatora

# 4Ô∏è‚É£ Wczytaj dane
df_2023 = load_csv_from_space('maratonwr', 'data/raw/halfmarathon_wroclaw_2023__final.csv')
df_2024 = load_csv_from_space('maratonwr', 'data/raw/halfmarathon_wroclaw_2024__final.csv')

# 5Ô∏è‚É£ PodglƒÖd
print("‚úÖ Dane 2023:")
display(df_2023.head(3))

print("‚úÖ Dane 2024:")
display(df_2024.head(3))

‚úÖ Dane 2023:

,Miejsce,Numer startowy,Imiƒô,Nazwisko,Miasto,Kraj,Dru≈ºyna,P≈Çeƒá,P≈Çeƒá Miejsce,Kategoria wiekowa,...,10 km Tempo,15 km Czas,15 km Miejsce Open,15 km Tempo,20 km Czas,20 km Miejsce Open,20 km Tempo,Tempo Stabilno≈õƒá,Czas,Tempo
0,1.0,1787,TOMASZ,GRYCKO,NaN,POL,UKS BLIZA W≈ÅADYS≈ÅAWOWO,M,1.0,M30,...,2.926667,00:44:47,1.0,3.106667,01:01:43,1.0,3.386667,0.031400,01:04:59,3.080509
1,2.0,3,ARKADIUSZ,GARDZIELEWSKI,WROC≈ÅAW,POL,ARKADIUSZGARDZIELEWSKI.PL,M,2.0,M30,...,2.983333,00:45:26,2.0,3.143333,01:03:08,2.0,3.540000,0.038000,01:06:23,3.146875
2,3.0,3832,KRZYSZTOF,HADAS,POZNA≈É,POL,NaN,M,3.0,M20,...,3.123333,00:47:34,3.0,3.236667,01:05:09,3.0,3.516667,0.024067,01:08:24,3.242475

‚úÖ Dane 2024:

,Miejsce,Numer startowy,Imiƒô,Nazwisko,Miasto,Kraj,Dru≈ºyna,P≈Çeƒá,P≈Çeƒá Miejsce,Kategoria wiekowa,...,10 km Tempo,15 km Czas,15 km Miejsce Open,15 km Tempo,20 km Czas,20 km Miejsce Open,20 km Tempo,Tempo Stabilno≈õƒá,Czas,Tempo
0,1.0,596,NIKODEM,DWORCZAK,KO≈öCIAN,POL,NaN,M,1.0,M20,...,2.92,00:45:07,2.0,3.083333,01:00:33,1.0,3.086667,0.007267,01:04:03,3.036265
1,2.0,616,MATEUSZ,KACZOR,RADOM,POL,RLTL OPTIMA RADOM,M,2.0,M20,...,2.92,00:45:07,3.0,3.083333,01:00:38,2.0,3.103333,0.008267,01:04:24,3.052856
2,3.0,154,PATRYK,KOZ≈ÅOWSKI,RADOM,POL,RLTL-ZTE-RADOM,M,3.0,M20,...,2.92,00:45:07,1.0,3.083333,01:00:59,3.0,3.173333,0.012467,01:04:40,3.065497

In [49]:
# üîç Sprawd≈∫ liczbƒô i nazwy kolumn w obu plikach
print("üìä Liczba kolumn:")
print(f"2023: {len(df_2023.columns)}")
print(f"2024: {len(df_2024.columns)}\n")

# üîé Por√≥wnaj nazwy kolumn
cols_2023 = set(df_2023.columns)
cols_2024 = set(df_2024.columns)

# R√≥≈ºnice
only_in_2023 = cols_2023 - cols_2024
only_in_2024 = cols_2024 - cols_2023

print("üü¢ Kolumny wsp√≥lne:", len(cols_2023 & cols_2024))
print("üî¥ Tylko w 2023:", only_in_2023 if only_in_2023 else "Brak r√≥≈ºnic")
print("üîµ Tylko w 2024:", only_in_2024 if only_in_2024 else "Brak r√≥≈ºnic")

üìä Liczba kolumn:
2023: 27
2024: 27

üü¢ Kolumny wsp√≥lne: 27
üî¥ Tylko w 2023: Brak r√≥≈ºnic
üîµ Tylko w 2024: Brak r√≥≈ºnic

In [50]:
print("üìã Czy kolejno≈õƒá kolumn jest identyczna?")
print(list(df_2023.columns) == list(df_2024.columns))

üìã Czy kolejno≈õƒá kolumn jest identyczna?
True

In [51]:
# ‚ûï Dodaj kolumnƒô z rokiem do ka≈ºdego DataFrame
df_2023["Rok"] = 2023
df_2024["Rok"] = 2024

# üîó Po≈ÇƒÖcz dane w jeden zbi√≥r
df_all = pd.concat([df_2023, df_2024], ignore_index=True)

# üßπ (opcjonalnie) usu≈Ñ ewentualne duplikaty
df_all.drop_duplicates(inplace=True)

# üìä Sprawd≈∫ wynik
print("‚úÖ Po≈ÇƒÖczono dane:")
print(f"Liczba rekord√≥w: {len(df_all)}")
print(f"Liczba kolumn: {len(df_all.columns)}")
display(df_all.head(5))

‚úÖ Po≈ÇƒÖczono dane:
Liczba rekord√≥w: 21957
Liczba kolumn: 28

,Miejsce,Numer startowy,Imiƒô,Nazwisko,Miasto,Kraj,Dru≈ºyna,P≈Çeƒá,P≈Çeƒá Miejsce,Kategoria wiekowa,...,15 km Czas,15 km Miejsce Open,15 km Tempo,20 km Czas,20 km Miejsce Open,20 km Tempo,Tempo Stabilno≈õƒá,Czas,Tempo,Rok
0,1.0,1787,TOMASZ,GRYCKO,NaN,POL,UKS BLIZA W≈ÅADYS≈ÅAWOWO,M,1.0,M30,...,00:44:47,1.0,3.106667,01:01:43,1.0,3.386667,0.031400,01:04:59,3.080509,2023
1,2.0,3,ARKADIUSZ,GARDZIELEWSKI,WROC≈ÅAW,POL,ARKADIUSZGARDZIELEWSKI.PL,M,2.0,M30,...,00:45:26,2.0,3.143333,01:03:08,2.0,3.540000,0.038000,01:06:23,3.146875,2023
2,3.0,3832,KRZYSZTOF,HADAS,POZNA≈É,POL,NaN,M,3.0,M20,...,00:47:34,3.0,3.236667,01:05:09,3.0,3.516667,0.024067,01:08:24,3.242475,2023
3,4.0,416,DAMIAN,DYDUCH,KƒòPNO,POL,AZS POLITECHNIKA OPOLSKA,M,4.0,M30,...,00:48:49,5.0,3.330000,01:06:54,4.0,3.616667,0.025467,01:10:16,3.330963,2023
4,5.0,8476,KAMIL,MA≈ÉKOWSKI,MIRK√ìW,POL,PARKRUN WROC≈ÅAW,M,5.0,M20,...,00:49:31,7.0,3.386667,01:07:27,5.0,3.586667,0.023000,01:10:27,3.339654,2023

In [52]:
print("üìã Lista kolumn w df_all:")
for col in df_all.columns:
    print("-", col)

üìã Lista kolumn w df_all:
- Miejsce
- Numer startowy
- Imiƒô
- Nazwisko
- Miasto
- Kraj
- Dru≈ºyna
- P≈Çeƒá
- P≈Çeƒá Miejsce
- Kategoria wiekowa
- Kategoria wiekowa Miejsce
- Rocznik
- 5 km Czas
- 5 km Miejsce Open
- 5 km Tempo
- 10 km Czas
- 10 km Miejsce Open
- 10 km Tempo
- 15 km Czas
- 15 km Miejsce Open
- 15 km Tempo
- 20 km Czas
- 20 km Miejsce Open
- 20 km Tempo
- Tempo Stabilno≈õƒá
- Czas
- Tempo
- Rok

In [53]:
# Lista kolumn do usuniƒôcia
cols_to_drop = [
    "Miejsce",
    "Numer startowy",
    "Imiƒô",
    "Nazwisko",
    "Miasto",
    "Kraj",
    "Dru≈ºyna",
    "Rok",
    "P≈Çeƒá Miejsce",
    "Kategoria wiekowa Miejsce",
    "Kategoria wiekowa"
]

# Utworzenie nowego DataFrame bez tych kolumn
df_ml = df_all.drop(columns=cols_to_drop, errors="ignore")

# PodglƒÖd wynik√≥w
print("‚úÖ Kolumny usuniƒôte pomy≈õlnie.")
print(f"üìè Nowy kszta≈Çt danych: {df_ml.shape}")
display(df_ml.head(3))

‚úÖ Kolumny usuniƒôte pomy≈õlnie.
üìè Nowy kszta≈Çt danych: (21957, 17)

,P≈Çeƒá,Rocznik,5 km Czas,5 km Miejsce Open,5 km Tempo,10 km Czas,10 km Miejsce Open,10 km Tempo,15 km Czas,15 km Miejsce Open,15 km Tempo,20 km Czas,20 km Miejsce Open,20 km Tempo,Tempo Stabilno≈õƒá,Czas,Tempo
0,M,1992.0,00:14:37,1.0,2.923333,00:29:15,1.0,2.926667,00:44:47,1.0,3.106667,01:01:43,1.0,3.386667,0.031400,01:04:59,3.080509
1,M,1986.0,00:14:48,2.0,2.960000,00:29:43,2.0,2.983333,00:45:26,2.0,3.143333,01:03:08,2.0,3.540000,0.038000,01:06:23,3.146875
2,M,1996.0,00:15:46,4.0,3.153333,00:31:23,3.0,3.123333,00:47:34,3.0,3.236667,01:05:09,3.0,3.516667,0.024067,01:08:24,3.242475

In [54]:
# üîç Sprawdzenie typ√≥w danych
print("üìã Typy danych w kolumnach:\n")
print(df_ml.dtypes)

# üí° Dodatkowo sprawd≈∫my kilka pierwszych wierszy, ≈ºeby upewniƒá siƒô jak wyglƒÖdajƒÖ czasy
print("\nüß≠ PodglƒÖd danych (pierwsze 3 wiersze):")
print(df_ml.head(3))

üìã Typy danych w kolumnach:

P≈Çeƒá                   object
Rocznik               float64
5 km Czas              object
5 km Miejsce Open     float64
5 km Tempo            float64
10 km Czas             object
10 km Miejsce Open    float64
10 km Tempo           float64
15 km Czas             object
15 km Miejsce Open    float64
15 km Tempo           float64
20 km Czas             object
20 km Miejsce Open    float64
20 km Tempo           float64
Tempo Stabilno≈õƒá      float64
Czas                   object
Tempo                 float64
dtype: object

üß≠ PodglƒÖd danych (pierwsze 3 wiersze):
  P≈Çeƒá  Rocznik 5 km Czas  5 km Miejsce Open  5 km Tempo 10 km Czas  \
0    M   1992.0  00:14:37                1.0    2.923333   00:29:15
1    M   1986.0  00:14:48                2.0    2.960000   00:29:43
2    M   1996.0  00:15:46                4.0    3.153333   00:31:23

   10 km Miejsce Open  10 km Tempo 15 km Czas  15 km Miejsce Open  \
0                 1.0     2.926667   00:44:47                 1.0
1                 2.0     2.983333   00:45:26                 2.0
2                 3.0     3.123333   00:47:34                 3.0

   15 km Tempo 20 km Czas  20 km Miejsce Open  20 km Tempo  Tempo Stabilno≈õƒá  \
0     3.106667   01:01:43                 1.0     3.386667          0.031400
1     3.143333   01:03:08                 2.0     3.540000          0.038000
2     3.236667   01:05:09                 3.0     3.516667          0.024067

       Czas     Tempo
0  01:04:59  3.080509
1  01:06:23  3.146875
2  01:08:24  3.242475

In [55]:
import pandas as pd

# üïí Funkcja konwertujƒÖca czas w formacie HH:MM:SS lub MM:SS na sekundy
def czas_na_sekundy(czas):
    try:
        if pd.isna(czas):
            return None
        czas = str(czas)
        parts = czas.split(":")
        if len(parts) == 3:
            h, m, s = map(int, parts)
            return h * 3600 + m * 60 + s
        elif len(parts) == 2:
            m, s = map(int, parts)
            return m * 60 + s
        else:
            return None
    except:
        return None

# üîé Wybieramy kolumny z nazwƒÖ zawierajƒÖcƒÖ "Czas"
czas_cols = [col for col in df_ml.columns if "Czas" in col]

# üîÑ Konwersja na sekundy
for col in czas_cols:
    df_ml[col + " [s]"] = df_ml[col].apply(czas_na_sekundy)

# üßπ Usuwamy stare kolumny tekstowe (czas w formacie 00:MM:SS)
df_ml.drop(columns=czas_cols, inplace=True)

# ‚úÖ PodglƒÖd zmian
print("üìä Typy danych po konwersji:\n", df_ml.dtypes)
print("\nüß≠ PodglƒÖd danych:")
print(df_ml.head(3))

üìä Typy danych po konwersji:
 P≈Çeƒá                   object
Rocznik               float64
5 km Miejsce Open     float64
5 km Tempo            float64
10 km Miejsce Open    float64
10 km Tempo           float64
15 km Miejsce Open    float64
15 km Tempo           float64
20 km Miejsce Open    float64
20 km Tempo           float64
Tempo Stabilno≈õƒá      float64
Tempo                 float64
5 km Czas [s]         float64
10 km Czas [s]        float64
15 km Czas [s]        float64
20 km Czas [s]        float64
Czas [s]              float64
dtype: object

üß≠ PodglƒÖd danych:
  P≈Çeƒá  Rocznik  5 km Miejsce Open  5 km Tempo  10 km Miejsce Open  \
0    M   1992.0                1.0    2.923333                 1.0
1    M   1986.0                2.0    2.960000                 2.0
2    M   1996.0                4.0    3.153333                 3.0

   10 km Tempo  15 km Miejsce Open  15 km Tempo  20 km Miejsce Open  \
0     2.926667                 1.0     3.106667                 1.0
1     2.983333                 2.0     3.143333                 2.0
2     3.123333                 3.0     3.236667                 3.0

   20 km Tempo  Tempo Stabilno≈õƒá     Tempo  5 km Czas [s]  10 km Czas [s]  \
0     3.386667          0.031400  3.080509          877.0          1755.0
1     3.540000          0.038000  3.146875          888.0          1783.0
2     3.516667          0.024067  3.242475          946.0          1883.0

   15 km Czas [s]  20 km Czas [s]  Czas [s]
0          2687.0          3703.0    3899.0
1          2726.0          3788.0    3983.0
2          2854.0          3909.0    4104.0

In [56]:
# üßπ Usu≈Ñ podw√≥jne oznaczenia jednostek i zbƒôdne spacje
df_ml.columns = df_ml.columns.str.replace(r'\s*\[s\]\s*\[s\]\s*', ' [s]', regex=True)
df_ml.columns = df_ml.columns.str.strip()

print("‚úÖ Nazwy kolumn po oczyszczeniu:")
print(df_ml.columns.tolist())

‚úÖ Nazwy kolumn po oczyszczeniu:
['P≈Çeƒá', 'Rocznik', '5 km Miejsce Open', '5 km Tempo', '10 km Miejsce Open', '10 km Tempo', '15 km Miejsce Open', '15 km Tempo', '20 km Miejsce Open', '20 km Tempo', 'Tempo Stabilno≈õƒá', 'Tempo', '5 km Czas [s]', '10 km Czas [s]', '15 km Czas [s]', '20 km Czas [s]', 'Czas [s]']

In [57]:
print("‚úÖ Nazwy kolumn po oczyszczeniu:")
print(df_ml.columns.tolist())
print(df_ml.sample(10))

‚úÖ Nazwy kolumn po oczyszczeniu:
['P≈Çeƒá', 'Rocznik', '5 km Miejsce Open', '5 km Tempo', '10 km Miejsce Open', '10 km Tempo', '15 km Miejsce Open', '15 km Tempo', '20 km Miejsce Open', '20 km Tempo', 'Tempo Stabilno≈õƒá', 'Tempo', '5 km Czas [s]', '10 km Czas [s]', '15 km Czas [s]', '20 km Czas [s]', 'Czas [s]']
      P≈Çeƒá  Rocznik  5 km Miejsce Open  5 km Tempo  10 km Miejsce Open  \
16128    M   1961.0             7781.0    6.203333              7672.0
14648    M   1976.0             4760.0    5.556667              5070.0
2142     M   1999.0             2870.0    5.160000              2813.0
9564     M   1978.0              769.0    4.483333               738.0
3114     M   1980.0             2691.0    5.113333              2671.0
2954     M   1994.0             3767.0    5.380000              3311.0
18901    M   1969.0             9950.0    7.190000              9723.0
13186    M   1979.0             4830.0    5.570000              4491.0
2160     M   1989.0             2168.0    4.970000              2169.0
18431    K   1976.0             9255.0    6.736667              9312.0

       10 km Tempo  15 km Miejsce Open  15 km Tempo  20 km Miejsce Open  \
16128     6.083333              7540.0     6.423333              7272.0
14648     5.550000              5610.0     6.136667              5631.0
2142      5.116667              2775.0     5.340000              2302.0
9564      4.376667               668.0     4.500000               619.0
3114      5.096667              2798.0     5.426667              2995.0
2954      5.176667              2918.0     5.203333              2959.0
18901     6.920000              9702.0     7.673333              9928.0
13186     5.333333              4253.0     5.560000              4167.0
2160      4.936667              2187.0     5.206667              2156.0
18431     6.863333              9397.0     7.483333              9471.0

       20 km Tempo  Tempo Stabilno≈õƒá     Tempo  5 km Czas [s]  10 km Czas [s]  \
16128     6.496667          0.024400  6.304021         1861.0          3686.0
14648     6.256667          0.053733  5.926365         1667.0          3332.0
2142      5.350000          0.015867  5.167891         1548.0          3083.0
9564      4.603333          0.009667  4.505807         1345.0          2658.0
3114      6.153333          0.069000  5.448368         1534.0          3063.0
2954      5.996667          0.037533  5.406494         1614.0          3167.0
18901     9.246667          0.138467  7.859682         2157.0          4233.0
13186     5.763333          0.016133  5.596903         1671.0          3271.0
2160      5.690000          0.048600  5.172632         1491.0          2972.0
18431     8.070000          0.092400  7.336652         2021.0          4080.0

       15 km Czas [s]  20 km Czas [s]  Czas [s]
16128          5613.0          7562.0    7979.0
14648          5173.0          7050.0    7501.0
2142           4685.0          6290.0    6541.0
9564           4008.0          5389.0    5703.0
3114           4691.0          6537.0    6896.0
2954           4728.0          6527.0    6843.0
18901          6535.0          9309.0    9948.0
13186          4939.0          6668.0    7084.0
2160           4534.0          6241.0    6547.0
18431          6325.0          8746.0    9286.0

In [58]:
df_ml.dtypes

P≈Çeƒá                   object
Rocznik               float64
5 km Miejsce Open     float64
5 km Tempo            float64
10 km Miejsce Open    float64
10 km Tempo           float64
15 km Miejsce Open    float64
15 km Tempo           float64
20 km Miejsce Open    float64
20 km Tempo           float64
Tempo Stabilno≈õƒá      float64
Tempo                 float64
5 km Czas [s]         float64
10 km Czas [s]        float64
15 km Czas [s]        float64
20 km Czas [s]        float64
Czas [s]              float64
dtype: object

In [59]:
print("üß© BrakujƒÖce warto≈õci w ka≈ºdej kolumnie:\n")
print(df_ml.isna().sum())

üß© BrakujƒÖce warto≈õci w ka≈ºdej kolumnie:

P≈Çeƒá                    11
Rocznik                485
5 km Miejsce Open     3546
5 km Tempo            3546
10 km Miejsce Open    3530
10 km Tempo           3562
15 km Miejsce Open    3529
15 km Tempo           3544
20 km Miejsce Open    3518
20 km Tempo           3535
Tempo Stabilno≈õƒá      3580
Tempo                 3507
5 km Czas [s]         3546
10 km Czas [s]        3530
15 km Czas [s]        3529
20 km Czas [s]        3518
Czas [s]              3507
dtype: int64

In [60]:
print("‚úÖ Nazwy kolumn po oczyszczeniu:")
print(df_ml.columns.tolist())
print(df_ml.sample(5))

‚úÖ Nazwy kolumn po oczyszczeniu:
['P≈Çeƒá', 'Rocznik', '5 km Miejsce Open', '5 km Tempo', '10 km Miejsce Open', '10 km Tempo', '15 km Miejsce Open', '15 km Tempo', '20 km Miejsce Open', '20 km Tempo', 'Tempo Stabilno≈õƒá', 'Tempo', '5 km Czas [s]', '10 km Czas [s]', '15 km Czas [s]', '20 km Czas [s]', 'Czas [s]']
      P≈Çeƒá  Rocznik  5 km Miejsce Open  5 km Tempo  10 km Miejsce Open  \
4491     M   1977.0             2994.0    5.190000              2936.0
13831    K   1996.0             6030.0    5.770000              5400.0
7029     M   1982.0             7616.0    6.773333              7548.0
17048    M   1969.0             7353.0    6.096667              7563.0
7846     K   1996.0             6359.0    6.113333              6857.0

       10 km Tempo  15 km Miejsce Open  15 km Tempo  20 km Miejsce Open  \
4491      5.150000              3486.0     5.863333              4326.0
13831     5.453333              5168.0     5.746667              4911.0
7029      6.833333              7330.0     6.883333              7091.0
17048     6.140000              7804.0     6.740000              8115.0
7846      6.663333              7504.0     8.090000              7864.0

       20 km Tempo  Tempo Stabilno≈õƒá     Tempo  5 km Czas [s]  10 km Czas [s]  \
4491      6.943333          0.119467  5.803903         1557.0          3102.0
13831     5.820000          0.008867  5.706724         1731.0          3367.0
7029      7.433333          0.040600  6.907640         2032.0          4082.0
17048     7.373333          0.088600  6.615312         1829.0          3671.0
7846     10.350000          0.282733  7.741961         1834.0          3833.0

       15 km Czas [s]  20 km Czas [s]  Czas [s]
4491           4861.0          6944.0    7346.0
13831          5091.0          6837.0    7223.0
7029           6147.0          8377.0    8743.0
17048          5693.0          7905.0    8373.0
7846           6260.0          9365.0    9799.0

In [69]:
# poprawny kod
df_ml = df_all[['P≈Çeƒá', '5 km Tempo', 'Czas']]

# sprawd≈∫ wynik
print(df_ml.head())

  P≈Çeƒá  5 km Tempo      Czas
0    M    2.923333  01:04:59
1    M    2.960000  01:06:23
2    M    3.153333  01:08:24
3    M    3.236667  01:10:16
4    M    3.240000  01:10:27

In [71]:
import pandas as pd

# zachowaj tylko wiersze, gdzie czas ma format HH:MM:SS
df_ml = df_ml[df_ml['Czas'].str.match(r'^\d{2}:\d{2}:\d{2}$', na=False)]

# konwersja na sekundy
df_ml['Czas [s]'] = pd.to_timedelta(df_ml['Czas']).dt.total_seconds()

# usu≈Ñ kolumnƒô tekstowƒÖ
df_ml = df_ml.drop(columns=['Czas'])

# sprawd≈∫ wynik
print(df_ml.head())
print(df_ml.dtypes)
print(f"‚úÖ Liczba rekord√≥w po czyszczeniu: {len(df_ml)}")

  P≈Çeƒá  5 km Tempo  Czas [s]
0    M    2.923333    3899.0
1    M    2.960000    3983.0
2    M    3.153333    4104.0
3    M    3.236667    4216.0
4    M    3.240000    4227.0
P≈Çeƒá           object
5 km Tempo    float64
Czas [s]      float64
dtype: object
‚úÖ Liczba rekord√≥w po czyszczeniu: 18450

In [73]:
# üîç Sprawd≈∫ liczbƒô brakujƒÖcych warto≈õci w ka≈ºdej kolumnie
missing_values = df_ml.isnull().sum()

# üíØ Policz te≈º procent brak√≥w
missing_percent = (df_ml.isnull().mean() * 100).round(2)

# üìä Po≈ÇƒÖcz wyniki w jednƒÖ tabelƒô
missing_summary = pd.DataFrame({
    'Liczba brak√≥w': missing_values,
    'Procent brak√≥w [%]': missing_percent
})

print("üìâ Podsumowanie brakujƒÖcych warto≈õci:")
print(missing_summary)

üìâ Podsumowanie brakujƒÖcych warto≈õci:
            Liczba brak√≥w  Procent brak√≥w [%]
P≈Çeƒá                    0                0.00
5 km Tempo             39                0.21
Czas [s]                0                0.00

In [74]:
# usu≈Ñ wszystkie wiersze z brakami danych
df_ml = df_ml.dropna()

# sprawd≈∫ ponownie brakujƒÖce warto≈õci
print("üìâ Braki po czyszczeniu:")
print(df_ml.isna().sum())

# sprawd≈∫ rozmiar danych po operacji
print(f"\n‚úÖ Liczba rekord√≥w po usuniƒôciu brak√≥w: {len(df_ml)}")

üìâ Braki po czyszczeniu:
P≈Çeƒá          0
5 km Tempo    0
Czas [s]      0
dtype: int64

‚úÖ Liczba rekord√≥w po usuniƒôciu brak√≥w: 18411

In [75]:
# ≈õcie≈ºka docelowa
output_path = r"C:\Users\slast\OneDrive\Pulpit\df_ml_clean.csv"

# zapisz plik CSV (z zachowaniem polskich znak√≥w)
df_ml.to_csv(output_path, index=False, encoding='utf-8-sig', sep=';')

print(f"‚úÖ Plik zosta≈Ç zapisany: {output_path}")
print(f"üíæ Liczba rekord√≥w: {len(df_ml)}")
print(f"üìä Kolumny: {list(df_ml.columns)}")

‚úÖ Plik zosta≈Ç zapisany: C:\Users\slast\OneDrive\Pulpit\df_ml_clean.csv
üíæ Liczba rekord√≥w: 18411
üìä Kolumny: ['P≈Çeƒá', '5 km Tempo', 'Czas [s]']

In [79]:
import pandas as pd

# --- Tw√≥j DataFrame z wcze≈õniejszych krok√≥w ---
# df_ml = ...

# üîπ Zapisz lokalnie
local_path = r"C:\Users\slast\OneDrive\Pulpit\df_ml.csv"
df_ml.to_csv(local_path, index=False, encoding='utf-8-sig', sep=';')
print(f"üíæ Zapisano lokalnie: {local_path}")

# üîπ Wy≈õlij do DigitalOcean Spaces
object_key = "df_ml.csv"
client.upload_file(local_path, SPACES_NAME, object_key)
print(f"‚úÖ Plik '{object_key}' zosta≈Ç pomy≈õlnie wys≈Çany do bucketa '{SPACES_NAME}'.")

üíæ Zapisano lokalnie: C:\Users\slast\OneDrive\Pulpit\df_ml.csv
‚úÖ Plik 'df_ml.csv' zosta≈Ç pomy≈õlnie wys≈Çany do bucketa 'maratonwr'.

In [80]:
import os
from dotenv import load_dotenv
import boto3

# üîπ Wczytaj dane z pliku .env
load_dotenv()

SPACES_KEY = os.getenv("SPACES_KEY")
SPACES_SECRET = os.getenv("SPACES_SECRET")
SPACES_REGION = os.getenv("SPACES_REGION")
SPACES_NAME = os.getenv("SPACES_NAME")

# üîπ Utw√≥rz klienta
session = boto3.session.Session()
client = session.client(
    's3',
    region_name=SPACES_REGION,
    endpoint_url=f'https://{SPACES_REGION}.digitaloceanspaces.com',
    aws_access_key_id=SPACES_KEY,
    aws_secret_access_key=SPACES_SECRET
)

# üîπ ≈öcie≈ºki
local_path = r"C:\Users\slast\OneDrive\Pulpit\df_ml.csv"
object_key = "df_ml.csv"

# üîπ Wy≈õlij plik
client.upload_file(local_path, SPACES_NAME, object_key)

print(f"‚úÖ Plik '{object_key}' zosta≈Ç pomy≈õlnie wys≈Çany do bucketa '{SPACES_NAME}'.")

‚úÖ Plik 'df_ml.csv' zosta≈Ç pomy≈õlnie wys≈Çany do bucketa 'maratonwr'.

In [81]:
import os
from dotenv import load_dotenv
import boto3

# üîπ 1. Wczytaj dane z pliku .env
load_dotenv()

SPACES_KEY = os.getenv("SPACES_KEY")
SPACES_SECRET = os.getenv("SPACES_SECRET")
SPACES_REGION = os.getenv("SPACES_REGION")
SPACES_NAME = os.getenv("SPACES_NAME")

# üîπ 2. Utw√≥rz klienta S3 dla DigitalOcean Spaces
session = boto3.session.Session()
client = session.client(
    's3',
    region_name=SPACES_REGION,
    endpoint_url=f'https://{SPACES_REGION}.digitaloceanspaces.com',
    aws_access_key_id=SPACES_KEY,
    aws_secret_access_key=SPACES_SECRET
)

# üîπ 3. Pobierz listƒô obiekt√≥w
response = client.list_objects_v2(Bucket=SPACES_NAME)

# üîπ 4. Wy≈õwietl strukturƒô "folder√≥w"
if 'Contents' in response:
    print(f"üìÅ Struktura bucketa '{SPACES_NAME}':\n")
    for obj in response['Contents']:
        path = obj['Key']
        size_kb = round(obj['Size'] / 1024, 2)
        print(f" - {path} ({size_kb} KB)")
else:
    print("‚ùó Bucket jest pusty lub nie istnieje.")

üìÅ Struktura bucketa 'maratonwr':

 - data/ (0.01 KB)
 - data/raw/ (0.01 KB)
 - data/raw/halfmarathon_wroclaw_2023__final.csv (1961.44 KB)
 - data/raw/halfmarathon_wroclaw_2024__final.csv (2588.89 KB)
 - df_ml.csv (442.81 KB)